@model SimpleBlog2.ViewModels.ArticleCreateViewModel

@{
    ViewData["Title"] = "Usuwanie artykułu";
    Layout = "_LayoutManage";
}

<h2>Usuń artykuł</h2>

<h3>Czy na pewno chcesz usunąć ten artykuł?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.AuthorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.AuthorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.CategoryId)
        </dt>
        <dd>
            @if (Model.ArticleCategories.SingleOrDefault(x => x.ArticleCategoryId == Model.Article.CategoryId) != null)
            {
                @Html.DisplayFor(model => model.ArticleCategories.SingleOrDefault(x => x.ArticleCategoryId == model.Article.CategoryId).Name)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Article.DateOfPublish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Article.DateOfPublish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticlePhoto)
        </dt>
        <dd>
            <img src="@("/images/Articles/" + Model.ArticlePhoto.FileName)" alt="Article foto" class="img-fluid" style="max-height:128px;">
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <a asp-action="ArticleManage" class="btn btn-secondary">Powrót</a>
    </form>
</div>
