@model SimpleBlog2.Models.ArticleCommentModel

@{
    ViewData["Title"] = "Szczegóły komentarza";
    Layout = "_LayoutManage";
}

<h2>Szczegóły komentarza do artykułu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfPublish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfPublish)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.ArticleCommentId }, new { @class = "btn btn-primary" })
    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
</div>
