@model SimpleBlog2.Models.ArticleCommentModel

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegóły komentarza do artykułu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfPublish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfPublish)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleCommentId }) |
    <a asp-action="Index">Powrót</a>
</div>
