@model SimpleBlog2.ViewModels.ArticleCommentManageViewModel

@{
    ViewData["Title"] = "Zarządzanie komentarzami";
    Layout = "_LayoutManage";
}

<h2>Komentarze do artykułów</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleComments.SingleOrDefault().Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleComments.SingleOrDefault().Text)
            </th>
            <th style="max-width:600px;">
                Tytuł artykułu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleComments.SingleOrDefault().DateOfPublish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ArticleComments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td style="width:30%">
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Model.Articles.SingleOrDefault(x => x.ArticleId == item.ArticleId).Title
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPublish)
            </td>
            <td>
                @Html.ActionLink("Edycja", "Edit", new { id=item.ArticleCommentId }, new { @class="btn btn-primary"})
                @Html.ActionLink("Szczegóły", "Details", new { id=item.ArticleCommentId  }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Usuń", "Delete", new { id=item.ArticleCommentId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
